/* Add this CSS to your stylesheet */
.table-row-group:has(.table-row:hover) .table-row:not(:hover) {
    color: rgb(107 114 128); 
}

.table-row {
    color: white;
    transition: color 300ms ease-in-out;
}